*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header header header header"
    "sidebar sidebar sidebar sidebar" 
    "main main main main"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    background-color: rgb(250, 250, 100);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(165, 165, 255);
}

.main {
    grid-area: main;
    background-color: rgb(216, 84, 84);
    min-height: 100vh;
}

.footer {
    grid-area: footer;
    background-color: blanchedalmond;
}